PySide6==6.6.0
PySide6-Addons==6.6.0
PySide6-Essentials==6.6.0
requests==2.31.0
pyoslog==1.1.0
python-gnupg==0.5.1
keyring==24.2.0
quickmachotkey==2023.10.26
black==23.10.1
bandit==1.7.5
pyinstaller==6.1.0
pyinstaller-hooks-contrib==2023.10
pytest==7.4.2
